{% extends 'base.html.twig' %}
{% block title %}Page en construction{% endblock %}

{% block body%}
<h1> Page en construction </h1>
<h1> Réessayez plus tard </h1>
<p>Code de l'erreur : {{ status_code }}</p>
    <img src="https://cdn.dribbble.com/users/164614/screenshots/3786122/404.gif" alt="funny GIF erreur 404" width="100%">
{% endblock %}
